<% title "Accounts" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
<% @identities.each do |identity| %>
  <tr>
    <td><%= identity.name %></td>
    <td><%= identity.email %></td>
    <td><%= link_to 'Delete', identity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<hr />
<p>
  <%= link_to "New Account", new_identity_path %>
</p>