body {
  background-color: #78bfd3;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0077a4;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#title {
  font-size: 3em;
  margin: 0.5em auto 0;
  text-shadow: #45156b -1px 1px 2px;
  width: 75%;
  a {
    color: #fff;
    text-decoration: none;
  }
}
#nav {
  color: #0077a4;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em auto 0.4em;
  padding: 0;
  width: 75%;
  a {
    color: #0077a4;
    padding: 2px 15px 10px 0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  #recipes_link.recipes,
  #recipes_link.used_ingredients,
  #ingredients_link.ingredients,
  #identities_link.identities {
    color: #003149;
    text-decoration: underline;
  }
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 20px 20px;
  border: solid 1px #0077a4;
  position: relative;
  hr {
    border: none;
    border-top: 1px solid #78bfd3;
  }
}
#footer {
  margin-top: 0.5em;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 150px;
}

#flash_notice {
  background-color: #cfc;
  border: solid 1px #6c6;
}

#flash_error, #flash_alert {
  background-color: #fcc;
  border: solid 1px #c66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}

table {
  width: 100%;
  th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
  }
  th:first-child, td:first-child {
    text-align: left;
  }
}